:root {
    --current-display-mode: "dark";
    --tinker-primary-color: orange;
    --tinker-darker-primary: rgb(255, 140, 0);
    --tinker-background-color: rgb(22, 22, 22);
    --tinker-background-shadow-color: rgb(15, 15, 15);
    --tinker-text-color: white;
    --tinker-slider-background: black;
    --tinker-slider-thumb: #333;
    --tinker-slider-shadow: rgb(0, 0, 0, 1);

    font-size: 16px;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--tinker-background-color);
    box-shadow: inset 0 0 30px 20px var(--tinker-background-shadow-color);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sep-v {
    width: 1px;
    height: 100%;

    background-color: rgb(100, 100, 100);
}

.sep-h {
    width: 100%;
    height: 1px;
    min-height: 1px;

    background-color: rgb(100, 100, 100);
}

.tab {
    width: 6rem;
    padding-bottom: 0.5rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tab > p {
    width: 100%;
    height: 100%;

    color: var(--tinker-text-color);
    border-radius: 0.25rem;
    text-align: center;

    position: relative;
    bottom: 2px;

    transition: all ease 0.5s;
}

.tab > p:hover {
    background-color: rgba(168, 168, 168, 0.5);
}

.active-tab {
    box-shadow: inset 0 -2px 0 0 var(--tinker-primary-color);
}

.slide {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.slide > p {
    color: var(--tinker-text-color);
}

.active-slide {
    display: flex;
}

.inactive-slide {
    display: none;
}

.slide:nth-child(1),
.slide:nth-child(2),
.slide:nth-child(3),
.slide:nth-child(4) {
    flex-direction: column;
}

.slide-options {
    display: flex;
    justify-content: end;
}

.option-button {
    padding: 0.5rem 1rem;
    margin: 0rem 0rem 0.5rem 0.5rem;

    background-color: var(--tinker-primary-color);
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.option-button > p {
    font-size: 0.8rem;
}

.option-button:hover {
    transform: translateY(-1px);
}

.option-button:active {
    transform: translateY(0);
}

.slider-cluster {
    width: 100%;
    min-height: 8rem;
    max-height: 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-cluster__options {
    height: 100%;
    width: 40%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-cluster__options > span {
    display: flex;
    justify-content: space-between;
}

.tinker-text-input {
    padding: 0.25rem;
    font-family: "Poppins", sans-serif;

    background-color: rgb(0, 0, 0, 0);
    color: var(--tinker-text-color);
    border: none;
    border-radius: 0.1rem;
    outline: 1px solid rgb(100, 100, 100);
}

.tinker-text-input__full {
    width: 100%;
}

.tinker-text-input__half {
    width: 25%;
}

.slider-cluster__slider {
    width: 60%;
    height: 100%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indicator {
    width: 2rem;
    height: 1rem;

    position: relative;
    transform: translateX(calc(-1rem + 7px)) translateY(-0.5rem);

    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator > p {
    color: var(--tinker-text-color);
    cursor: default;
}

.css-range-slider {
    width: 100%;
    height: 15px;

    -webkit-appearance: none;
    appearance: none;
    background: var(--tinker-slider-background);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px var(--tinker-slider-shadow);
}

.css-range-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;

    background: var(--tinker-primary-color);
    border: 4px solid #333;
    border-radius: 50%;
    box-shadow: -407px 0 0 400px var(--tinker-primary-color);
    cursor: pointer;
    -webkit-appearance: none;
}

.add-element-button {
    width: 100%;
    height: 2rem;

    /* Darker orange due to lighter appearence at buttons position */
    background-color: var(--tinker-darker-primary);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease 0.25s;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-element-button > p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
}

.add-element-button:hover {
    transform: translateY(-2px);
}

.add-element-button:active {
    transform: translateY(0);
}

.button-cluster {
    width: 100%;
    max-height: 4rem;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-cluster__inputs {
    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tinker-function-button {
    width: 8rem;
    height: calc(2rem - 2px);
    padding: 0.1rem;

    background-color: var(--tinker-primary-color);
    border: none;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    transition: all ease 0.25s;
}

.tinker-function-button:hover {
    transform: translateY(-2px);
}

.tinker-function-button:active {
    transform: translateY(0);
}

.leaf {
    cursor: pointer;
}

.leaf:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

.constant-outline {
    outline: 1px solid red;
}

.blinking-outline {
    outline: 1px dashed rgb(98, 98, 255);
    animation: blink-outline 1s infinite;
}

@keyframes blink-outline {
    0% {
        outline-color: transparent;
    }
    50% {
        outline-color: #5784ff;
    }
    100% {
        outline-color: transparent; 
    }
}

#main {
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;

    display: flex;
}

#dev-container {
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#tinker-tools {
    width: 30%;
    padding: 0rem 0.5rem;

    display: flex;
    flex-direction: column;
}

#tinker-tabs {
    height: 2rem;

    display: flex;
    justify-content: space-between;
}

#tinker-slides {
    width: 100%;
    height: 100%;

    max-height: calc(100% - 2rem);
}

#css-textarea {
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    color: var(--tinker-text-color);
    background-color: rgb(0, 0, 0, 0);
    resize: none;
}

#css-textarea::-webkit-scrollbar,
#sliders::-webkit-scrollbar {
    display: none;
}

#sliders {
    width: 100%;
    height: 100%;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#tinker-buttons {
    width: 100%;
    height: 100%;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 6em;
    color: #999;
    font-weight: 400;
}

#tinker-tree {
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    outline: 1px solid grey;
}

#tinker-tree p {
    color: var(--tinker-text-color);
    white-space: pre;
}

#tinker-settings {
    width: 100%;
    height: 100%;
}

#tinker-settings h4 {
    padding-bottom: 0.5rem;

    color: var(--tinker-text-color);
    font-weight: 400;
}

#display-mode-settings {
    padding: 0.5rem;
}

#display-mode-settings button {
    width: 7rem;
    padding: 0.5rem;
    margin-right: 0.5rem;

    background-color: var(--tinker-primary-color);
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

#dev-container-settings {
    padding: 0.5rem;
}
